In [242]:
import pandas as pd
import geopandas as gp

In [243]:
electiondata = pd.read_csv('./presidential_2016.csv')

/Users/angelchen103/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [308]:
electiondata.head()

,Unnamed: 0,state,year,stage,special,state_postal,state_fips,state_icpsr,county_name,county_fips,...,candidate_full,candidate_suffix,candidate_nickname,candidate_fec,candidate_fec_name,candidate_google,candidate_govtrack,candidate_icpsr,candidate_maplight,prec_county
0,1,Georgia,2016,gen,False,GA,13,44,Appling County,13001,...,NaN,NaN,NaN,P00003392,"CLINTON, HILLARY RODHAM / TIMOTHY MICHAEL KAINE",NaN,NaN,NaN,NaN,213001
1,2,Georgia,2016,gen,False,GA,13,44,Appling County,13001,...,NaN,NaN,NaN,P00003392,"CLINTON, HILLARY RODHAM / TIMOTHY MICHAEL KAINE",NaN,NaN,NaN,NaN,213001
2,3,Georgia,2016,gen,False,GA,13,44,Appling County,13001,...,NaN,NaN,NaN,P00003392,"CLINTON, HILLARY RODHAM / TIMOTHY MICHAEL KAINE",NaN,NaN,NaN,NaN,213001
3,4,Georgia,2016,gen,False,GA,13,44,Appling County,13001,...,NaN,NaN,NaN,P00003392,"CLINTON, HILLARY RODHAM / TIMOTHY MICHAEL KAINE",NaN,NaN,NaN,NaN,213001
4,5,Georgia,2016,gen,False,GA,13,44,Appling County,13001,...,NaN,NaN,NaN,P60012234,"JOHNSON, JOHN FITZGERALD MR.",NaN,NaN,NaN,NaN,213001

In [245]:
electiondata['county_fips'] = electiondata['county_fips'].apply(str)

Create list of unique precinct name values from election dataset

I combined precinct and county fips into one because I saw different counties have the same precinct name

In [246]:
electiondata['prec_county'] = electiondata['precinct'] + electiondata['county_fips']

In [247]:
electiondata['prec_county']

0              213001
1              213001
2              213001
3              213001
4              213001
             ...
32841    Warwick13321
32842    Warwick13321
32843    Warwick13321
32844    Warwick13321
32845    Warwick13321
Name: prec_county, Length: 32846, dtype: object

In [248]:
electionprecincts = electiondata['prec_county'].unique().tolist()

In [249]:
vestfinal = gp.read_file('./ga_2016/ga_2016.shp')

In [250]:
vestfinal.head()

,ID,DISTRICT,CTYSOSID,PRECINCT_I,PRECINCT_N,CTYNUMBER,COUNTY,CTYNAME,FIPS1,FIPS2,COUNTY_NAM,G16PRERTRU,G16PREDCLI,G16PRELJOH,G16USSRISA,G16USSDBAR,G16USSLBUC,G16PSCRECH,G16PSCLHOS,geometry
0,6094217,073131,073131,131,JOURNEY COMM. CHURCH,36,036,Columbia,13073,073,COLUMBIA,459,107,20,453,78,23,477,66,"POLYGON ((-82.14546 33.57854, -82.14520 33.578..."
1,6094266,073064,073064,064,GRACE BAPTIST CHURCH,36,036,Columbia,13073,073,COLUMBIA,1334,767,74,1345,643,77,1527,464,"POLYGON ((-82.16342 33.57423, -82.16364 33.574..."
2,6094297,073061,073061,061,GREENBRIER HIGH,36,036,Columbia,13073,073,COLUMBIA,1393,387,85,1392,299,88,1508,260,"POLYGON ((-82.16581 33.56498, -82.16577 33.564..."
3,6094341,073063,073063,063,RIVERSIDE ELEMENTARY,36,036,Columbia,13073,073,COLUMBIA,624,267,28,648,219,34,716,156,"POLYGON ((-82.13909 33.57592, -82.13914 33.575..."
4,6094377,073132,073132,132,WESLEY METHODIST,36,036,Columbia,13073,073,COLUMBIA,1377,452,39,1379,360,59,1495,268,"POLYGON ((-82.14330 33.57348, -82.14300 33.573..."

Did the same precinct county fips combo in VEST final just to make it easier to validate later

In [251]:
vestfinal['prec_county'] = vestfinal['PRECINCT_N'] + vestfinal['FIPS1']

In [252]:
vestfinal['prec_county']

0                       JOURNEY COMM. CHURCH13073
1                       GRACE BAPTIST CHURCH13073
2                            GREENBRIER HIGH13073
3                       RIVERSIDE ELEMENTARY13073
4                           WESLEY METHODIST13073
                          ...
2694                          WADSWORTH - 0413089
2695                      AVONDALE HIGH - 0513089
2696                               CLOUDLAND13055
2697                                  TELOGA13055
2698    ACTIVITY CENTER (Includes FTBEN 1-3)13053
Name: prec_county, Length: 2699, dtype: object

Create list of unique precinct names from VEST final file

In [253]:
vestprecincts = vestfinal['prec_county'].unique().tolist()

Create list of matching values between election data precincts and VEST final precincts

In [254]:
matching = [i for i in electionprecincts if i in vestprecincts]

Remove values based on precinct column values using only previously found matches

In [255]:
matcheddata = electiondata[electiondata['prec_county'].isin(matching)]

Check how many lines of election results - this seems like a lot but each candidate has multiple types of entries (election day, absentee by mail, etc.)

In [256]:
print(len(matcheddata))

15840

Sum all of the votes by precinct and candidate - should be 3 repeated precincts for each candidate 

Candidate FEC P00003392 = Hillary, P60012234 = Johnson, P80001571 = Trump

In [261]:
cleanelections = matcheddata.groupby(['prec_county','candidate_fec']).agg({'votes':'sum'})

In [262]:
cleanelections.head()

                           votes
prec_county candidate_fec
01A13121    P00003392       1898
            P60012234         97
            P80001571        173
01B13121    P00003392       2304
            P60012234        125

Pivot table so candidate_fec become columns of votes for each precinct, rather than having multiple precincts for each candidate

In [265]:
cleanelections = cleanelections.pivot_table('votes', ['prec_county'], 'candidate_fec')

In [266]:
cleanelections.head()

candidate_fec  P00003392  P60012234  P80001571
prec_county
01A13121            1898         97        173
01B13121            2304        125        243
01C13121             580         13         19
01D13121             268          6         23
01E13121            2932        144        283

In [267]:
electionsfinal = cleanelections.to_csv('./merged_electiondata.csv')

Edit VEST results to only include precincts in cleaned election data - this is what we will do the analysis on

In [268]:
cleanVEST = vestfinal[vestfinal['prec_county'].isin(matching)]

In [269]:
len(cleanVEST)

1320

Read in precincts shapefile, link with cleaned election data

Read in final elections data, not sure why but this is much cleaner than when I edited

In [270]:
precincts = gp.read_file('./VTD2016-Shape/VTD2016-Shape.shp')
electionsfinal = pd.read_csv ('./merged_electiondata.csv')

In [271]:
electionsfinal.head()

  prec_county  P00003392  P60012234  P80001571
0    01A13121       1898         97        173
1    01B13121       2304        125        243
2    01C13121        580         13         19
3    01D13121        268          6         23
4    01E13121       2932        144        283

Rename column head to match the same notation used in precincts shapefile

In [272]:
electionsfinal.rename(columns={'P00003392':'G16PREDCLI','P60012234':'G16PRELJOH','P80001571':'G16PRERTRU'}, inplace=True)

In [273]:
precincts['prec_county'] = precincts['PRECINCT_N'] + precincts['FIPS1']

In [274]:
precincts.head()

,ID,AREA,DATA,POPULATION,DISTRICT,CTYSOSID,PRECINCT_I,PRECINCT_N,CTYNUMBER,COUNTY,CTYNAME,FIPS1,FIPS2,COUNTY_NAM,geometry,prec_county
0,6094217,1.864348,690,1013,073131,073131,131,JOURNEY COMM. CHURCH,36,036,Columbia,13073,073,COLUMBIA,"POLYGON ((-82.14546 33.57854, -82.14520 33.578...",JOURNEY COMM. CHURCH13073
1,6094266,1.636596,714,3858,073064,073064,064,GRACE BAPTIST CHURCH,36,036,Columbia,13073,073,COLUMBIA,"POLYGON ((-82.16342 33.57423, -82.16364 33.574...",GRACE BAPTIST CHURCH13073
2,6094297,5.598643,711,1920,073061,073061,061,GREENBRIER HIGH,36,036,Columbia,13073,073,COLUMBIA,"POLYGON ((-82.16581 33.56498, -82.16577 33.564...",GREENBRIER HIGH13073
3,6094341,0.872412,713,1770,073063,073063,063,RIVERSIDE ELEMENTARY,36,036,Columbia,13073,073,COLUMBIA,"POLYGON ((-82.13909 33.57592, -82.13914 33.575...",RIVERSIDE ELEMENTARY13073
4,6094377,3.783726,691,3131,073132,073132,132,WESLEY METHODIST,36,036,Columbia,13073,073,COLUMBIA,"POLYGON ((-82.14330 33.57348, -82.14300 33.573...",WESLEY METHODIST13073

Join based on inner, aka only keep values in precincts if also found in elections file

In [275]:
precincts_joined = pd.merge(precincts, electionsfinal, on='prec_county', how='inner', indicator=True)

In [276]:
precincts.shape

(2697, 16)

In [277]:
precincts_joined.shape

(1312, 20)

In [290]:
precincts_joined.head()

,ID,AREA,DATA,POPULATION,DISTRICT,CTYSOSID,PRECINCT_I,PRECINCT_N,CTYNUMBER,COUNTY,CTYNAME,FIPS1,FIPS2,COUNTY_NAM,geometry,prec_county,G16PREDCLI,G16PRELJOH,G16PRERTRU,_merge
0,888321,1.383327,502,3720,063RD12,063RD12,RD12,RIVERDALE 12,31,031,Clayton,13063,063,CLAYTON,"POLYGON ((-84.41468 33.54952, -84.41482 33.548...",RIVERDALE 1213063,1526,20,115,both
1,878869,8.413158,1150,2809,11307,11307,07,HOPEFUL,56,056,Fayette,13113,113,FAYETTE,"POLYGON ((-84.55678 33.52712, -84.55679 33.527...",HOPEFUL13113,731,44,612,both
2,878929,1.764590,1529,1358,121SC211,121SC211,SC211,SC211,60,060,Fulton,13121,121,FULTON,"MULTIPOLYGON (((-84.47434 33.54778, -84.47436 ...",SC21113121,744,8,30,both
3,878992,2.424845,1148,2255,11305,11305,05,FAYETTEVILLE WEST,56,056,Fayette,13113,113,FAYETTE,"POLYGON ((-84.46159 33.46156, -84.46068 33.460...",FAYETTEVILLE WEST13113,489,32,628,both
4,879055,5.219873,1151,3292,11308,11308,08,MORNING CREEK,56,056,Fayette,13113,113,FAYETTE,"POLYGON ((-84.44147 33.47439, -84.44303 33.475...",MORNING CREEK13113,1088,51,919,both

Validate with VEST final file

In [301]:
validate = pd.merge(precincts_joined, cleanVEST, on=['prec_county'], how='left')

In [302]:
validate[['G16PRELJOH_x', 'G16PRELJOH_y']].head()

   G16PRELJOH_x  G16PRELJOH_y
0            20            20
1            44            44
2             8             8
3            32            32
4            51            51

In [303]:
validate[['G16PRERTRU_x', 'G16PRERTRU_y']].head()

   G16PRERTRU_x  G16PRERTRU_y
0           115           115
1           612           612
2            30            30
3           628           628
4           919           919

In [304]:
validate[['G16PREDCLI_x', 'G16PREDCLI_y']].head()

   G16PREDCLI_x  G16PREDCLI_y
0          1526          1526
1           731           731
2           744           744
3           489           489
4          1088          1088

In [305]:
validate['vote_diff_clinton'] = validate.G16PREDCLI_x - validate.G16PREDCLI_y
validate[validate.vote_diff_clinton.abs()<10].shape[0] / validate.shape[0]

1.0

In [306]:
validate['vote_diff_trump'] = validate.G16PRERTRU_x - validate.G16PRERTRU_y
validate[validate.vote_diff_trump.abs()<10].shape[0] / validate.shape[0]

1.0

In [307]:
validate['vote_diff_johnson'] = validate.G16PRELJOH_x - validate.G16PRELJOH_y
validate[validate.vote_diff_johnson.abs()<10].shape[0] / validate.shape[0]

1.0